html {
    font-size: 125%;
    background-color: #232323;
    color: #898989;
    font-family: sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

.characters {
    display: block;
}

.character {
    user-select: none;
    text-align: center;
    display: inline-block;
    color: black;
    border: 1px solid black;
    padding: 0.5em;
    background-color: white;
    max-width: 80vw;
    max-height: 80vh;
}

.character:hover {
    transition: transform 150ms, background-color 150ms;
    cursor: pointer;
    transform: scale(1.5);
    z-index: 100;
    background-color: lightgoldenrodyellow !important;
}

.character:hover .parents, .character:hover .children {
    display: block;
}

.character.radical {
    background-color: rgb(255, 205, 129);
}

.character.kanji {
    background-color: lightgreen;
}

.character .parents, .character .children {
    display: none;
}

.hidden {
    display: none !important;
}

#overlayWrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay {
    flex: 1 1 auto;
    background-color: white;
    color: black;
    max-width: 90%;
    padding: 1em;
}

#overlay .writing {
    font-size: 3em;
}